<header class="header">
  <div class="d-flex align-items-center">
    <div class="logo">
      <img src="/assets/images/logo/main.png" alt="">
      <img class="mobile-logo d-none" src="/assets/images/logo/text.png" alt="">
    </div>
    <div class="header-links">
      <members-main-menu></members-main-menu>
    </div>
  </div>

  <div class="header-actions mobile-menu-trigger">
    <!-- MOBILEMENU TRIGGER -->
    <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
      <!-- BURGER ICON -->
      <div class="burger-icon inverted">
        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->
      </div>
      <!-- /BURGER ICON -->
    </div>
    <!-- /MOBILEMENU TRIGGER -->

  </div>
  <!-- /HEADER ACTIONS -->

  <div class="header-actions desktop-header-action padding-head">
<!--    <div class="action-list dark">-->
<!--      &lt;!&ndash; ACTION LIST ITEM WRAP &ndash;&gt;-->
<!--      <div class="action-list-item-wrap">-->
<!--        &lt;!&ndash; ACTION LIST ITEM &ndash;&gt;-->
<!--        <div class="action-list-item header-dropdown-trigger">-->
<!--          &lt;!&ndash; ACTION LIST ITEM ICON &ndash;&gt;-->
<!--          <svg class="action-list-item-icon icon-notification">-->
<!--            <use xlink:href="#svg-notification"></use>-->
<!--          </svg>-->
<!--          <span class="badge badge-danger" id="header-friend-request-count" style="display:none">0</span>-->
<!--          &lt;!&ndash; /ACTION LIST ITEM ICON &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /ACTION LIST ITEM &ndash;&gt;-->

<!--        &lt;!&ndash; DROPDOWN BOX &ndash;&gt;-->
<!--        <div class="dropdown-box header-dropdown">-->
<!--          &lt;!&ndash; DROPDOWN BOX HEADER &ndash;&gt;-->
<!--          <div class="dropdown-box-header">-->
<!--            &lt;!&ndash; DROPDOWN BOX HEADER TITLE &ndash;&gt;-->
<!--            <p class="dropdown-box-header-title">Friend Requests</p>-->
<!--            &lt;!&ndash; /DROPDOWN BOX HEADER TITLE &ndash;&gt;-->

<!--            &lt;!&ndash; DROPDOWN BOX HEADER ACTIONS &ndash;&gt;-->
<!--            <div class="dropdown-box-header-actions">-->
<!--              &lt;!&ndash; DROPDOWN BOX HEADER ACTION &ndash;&gt;-->
<!--              <a href="#">-->
<!--                <p class="dropdown-box-header-action">Find Friends</p>-->
<!--              </a>-->
<!--              &lt;!&ndash; /DROPDOWN BOX HEADER ACTION &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /DROPDOWN BOX HEADER ACTIONS &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /DROPDOWN BOX HEADER &ndash;&gt;-->

<!--          &lt;!&ndash; DROPDOWN BOX LIST &ndash;&gt;-->
<!--          <div class="dropdown-box-list no-hover" style="height:350px" data-simplebar>-->
<!--            <div id="header-friend-request-div">-->
<!--              &lt;!&ndash; DROPDOWN BOX LIST ITEM &ndash;&gt;-->
<!--              <div class="dropdown-box-list-item">-->
<!--                &lt;!&ndash; USER STATUS &ndash;&gt;-->
<!--                <div class="user-status request">-->
<!--                  &lt;!&ndash; USER STATUS AVATAR &ndash;&gt;-->
<!--                  <a class="user-status-avatar" href="javascript:;">-->
<!--                    &lt;!&ndash; USER AVATAR &ndash;&gt;-->
<!--                    <div class="user-avatar small no-outline">-->
<!--                      &lt;!&ndash; USER AVATAR CONTENT &ndash;&gt;-->
<!--                      <div class="user-avatar-content">-->
<!--                        &lt;!&ndash; HEXAGON &ndash;&gt;-->
<!--                        <img class="img-thumbnail" style="width:30px;height:32px" src="#" alt=""/>-->
<!--                        &lt;!&ndash; /HEXAGON &ndash;&gt;-->
<!--                      </div>-->
<!--                      &lt;!&ndash; /USER AVATAR CONTENT &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /USER AVATAR &ndash;&gt;-->
<!--                  </a>-->
<!--                  &lt;!&ndash; /USER STATUS AVATAR &ndash;&gt;-->

<!--                  &lt;!&ndash; USER STATUS TITLE &ndash;&gt;-->
<!--                  <p class="user-status-title" style="margin-top:10px">-->
<!--                    <a class="bold" href="javascript:;"></a>-->
<!--                  </p>-->
<!--                  &lt;!&ndash; /USER STATUS TITLE &ndash;&gt;-->

<!--                  &lt;!&ndash; ACTION REQUEST LIST &ndash;&gt;-->
<!--                  <div class="action-request-list">-->
<!--                    &lt;!&ndash; ACTION REQUEST &ndash;&gt;-->
<!--                    <div class="btn btn-primary btn-sm friend-request-header-btn"-->
<!--                         data-status="accepted">-->
<!--                      Confirm-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /ACTION REQUEST &ndash;&gt;-->

<!--                    &lt;!&ndash; ACTION REQUEST &ndash;&gt;-->
<!--                    <div class="btn btn-danger btn-sm ml-1 friend-request-header-btn"-->
<!--                         data-status="rejected">-->
<!--                      Not Now-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /ACTION REQUEST &ndash;&gt;-->
<!--                  </div>-->
<!--                  &lt;!&ndash; ACTION REQUEST LIST &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; /USER STATUS &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /DROPDOWN BOX LIST ITEM &ndash;&gt;-->
<!--            </div>-->

<!--          </div>-->
<!--          &lt;!&ndash; /DROPDOWN BOX LIST &ndash;&gt;-->

<!--          &lt;!&ndash; DROPDOWN BOX BUTTON &ndash;&gt;-->
<!--          <a class="dropdown-box-button secondary" href="#">View all Requests</a>-->
<!--          &lt;!&ndash; /DROPDOWN BOX BUTTON &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /DROPDOWN BOX &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /ACTION LIST ITEM WRAP &ndash;&gt;-->
<!--    </div>-->

    <div class="action-item-wrap ml-2" *ngIf="isLogin; else elseBlock" ngbDropdown>
      <!-- ACTION ITEM -->
      <div class="action-item dark header-settings-dropdown-trigger" id="headerDropdown" ngbDropdownToggle>
        <!-- ACTION ITEM ICON -->
        <img class="profile-image" src="{{user?.avatar}}" alt="User Image">

        <p class="ms-2 me-2 mb-0 text-uppercase fs-5 fw-bold">
          {{user?.name}} | <span class="highlighted" id="balance">{{user?.balance}}</span>
        </p>
        <fa-icon [icon]="icon" style="color: #fff;"></fa-icon>
        <!-- /ACTION ITEM ICON -->
      </div>
      <!-- /ACTION ITEM -->

      <!-- DROPDOWN NAVIGATION -->
      <div class="dropdown-navigation header-settings-dropdown" ngbDropdownMenu aria-labelledby="headerDropdown">

        <div class="dropdown-navigation-group my-2" *ngFor="let group of this.userLinks">
          <!-- DROPDOWN NAVIGATION CATEGORY -->
          <p class="dropdown-navigation-category mb-2">{{group.name}}</p>
          <!-- /DROPDOWN NAVIGATION CATEGORY -->

          <!-- DROPDOWN NAVIGATION LINK -->
          <a class="dropdown-navigation-link" *ngFor="let link of group.links" [routerLink]="link.link">{{link.title}}</a>
          <!-- /DROPDOWN NAVIGATION LINK -->
        </div>


        <button class="btn btn-primary esports-btn dropdown-navigation-button mt-2" (click)="logout()">
          Logout
        </button>
        <!-- /DROPDOWN NAVIGATION BUTTON -->
      </div>
      <!-- /DROPDOWN NAVIGATION -->
    </div>
    <ng-template #elseBlock>
      <div class="action-list-item-wrap mx-3">
        <div class="action-list-item">
          <a [routerLink]="authLinks.login" class="btn btn-secondary esports-btn">Login</a>
        </div>
      </div>
      <div class="action-list-item-wrap">
        <div class="action-list-item">
          <a [routerLink]="authLinks.register" class="btn btn-secondary esports-btn">Register</a>
        </div>
      </div>
    </ng-template>
  </div>
</header>
