@import "src/assets/css/theme";

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 10001;

  input {
    height: 75px;
    font-size: 4rem;
    width: 50px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid $color-secondary;
    color: $color-secondary-dark;
    outline: none;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border-bottom: 2px solid $color-secondary-dark;
    }
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
