/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");

@import '~ngx-toastr/toastr';

@import "assets/css/core/core";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


$font-sizes: map-merge($font-sizes, (
  7: $font-size-sm,
  8: $font-size-base * .75
));

@debug $secondary;
@debug $theme-colors;
$utilities: map-merge($utilities, (
    "font-size": map-merge(map-get($utilities, "font-size"), (
        values: $font-sizes,
      ),
    ),
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
));

@import "assets/css/core/_form";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

//@import '~ngx-toastr/toastr-bs4-alert';



h1, h2, h3, h4, h5, h6, p {
  font-family: Rajdhani;
}

body {
  background-color: #f8f8fb;
}

a {
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

.color-lighter {
  color: #999;
}

.lined-text {
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  position: relative;

  &::before, &::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: $gray-lighter;
    position: absolute;
    top: 7px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.esports-btn {
  max-width: 150px;
  max-height: 36px;
  border-radius: 8px !important;
  border: none !important;
  position: relative;
  top: 4px;
  min-height: 36px;
  min-width: 100px;
  line-height: 36px;

  &.btn-primary {
    background: linear-gradient(#093e9a, #4640f6);
  }
  &.btn-secondary {
    background: linear-gradient(#0082ff, #00e4ff);
  }

  &::before {
    position: absolute;
    width: 100%;
    left: -4px;
    border: 2px solid $real-black;
    content: "";
    height: 100%;
    top: -4px;
    border-radius: inherit;
  }
}

