<div class="row justify-content-center">
  <div class="auth-form-box col-8">
    <h2 class="text-center font-weight-bold mb-5">Forgot Password</h2>
    <p class="fw-bolder mb-3">
      Forgot your password? No problem. Just let us know your email address and we will email you a password reset link
      that will allow you to choose a new one.
    </p>

    <form class="form" method="POST" autocomplete="off">
      <div class="form-item form-floating">
        <input type="text" id="email" name="email" required class="form-control" autocomplete="off" placeholder="user@gmail.com">
        <label for="email">Email</label>
      </div>

      <button class="btn btn-secondary w-100" type="button">Email Password Reset Link</button>

      <div class="text-end mt-3">
        <a routerLink="{{links.login}}">Back To Login Page</a>
      </div>

      <re-captcha></re-captcha>
    </form>
  </div>
</div>


